@import url("peacenix.css");
@import url("common.css");
body {
  background-color: white;
}

div.header_container {
  position: relative;
  min-width: 100%;
  height: 125px;
  background: #00e0c6;
  border-radius: 12px;
  opacity: 0.79;
}

div.genre_container{
  position: relative;
  opacity: 0.79;
  border-radius: 10px;
}

div.genre_title {
  position: absolute;
  margin: 0.3%;
  /* background-color: #fB8cAB; */
  background: rgba(251, 140, 171, 0.79);
  padding: 15px;
  color: white;
  font-size: 30px;
  border-radius: 10%;
}
