@import url("peacenix.css");
@import url("common.css");

nav {
  display: flex;

  /* flex-wrap: wrap;
  margin: 6px; */
  justify-content: space-between;
}

ul.header {
  font-family: "Times New Roman";
  display: inline-flex;
  justify-content: right;
  align-items: center;
  font-size: 25px;
  vertical-align: 50%;
}

body {
  background-color: black;
}

.header li {
  padding: 0 8%;
  list-style: none;
}

.header li a {
  text-decoration: none;
  color: #fff;
  padding: 8% 0;
}

#bgv {
  position: fixed;
  display: none;
  vertical-align: center;
  min-width: 100%;
  min-height: 100%;
  left: 0px;
  bottom: -200px;
  justify-content: center;
  overflow: hidden;
}
