@import url("common.css");


body{
    background-color: black;
}

.screen{
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
}
.app{
    width: 95%;
    height: 95%;
    left: 0;
    right: 0;
    border-color: #850000;
    border-width: 2px;
    
}

.logo_and_banner{
    width: 100%;
    height: 10%;

}

.logo{
    position: absolute;
    height: 9%;
    width: 4%;
    padding: 0.3%;
    margin: 0.3%;
    /* background-color: #535353; */
    border-radius: 2%;
}
.logo a{
    width: 100%;
    margin-right: 2%;
}

#logo{
    width: 100%;
}

div.banner{
    position: absoulte;
    top: 1%;
    height: 100%;
    width: 100%;
    background-color: #f7d4d4;
}

/* #banner{
    top: 20px;
    width: 100%;
    height: 100%;
} */
div.playlist{
    position: fixed;
    min-width: 18.5%;
    height: 62.5%;
    width: 10%;
    padding: 2%;
    top: 10.3%;
    margin-top: 2% ;
    margin-left: 0.5%;
    border-radius: 7px;
    background-color: rgba(50,188,200,0.8);
}
div.title{
    font-family: sans-serif;
    font-size: 1.1vw;
    max-width:20%;
    max-height: 10%;
    /* background-color: #850000; */
}


img.playlist_img{
    position: relative;
    padding-top: 1%;
    padding-left: 2% ;
    width: 15%;
    height: 15%;
    
}

.song_in_queue{
    position: relative;
    /* display: inline-flex; */
    display: none;
    padding-bottom: 20px;
}

.song_in_queue p.song_name{
    font-family: sans-serif;
    position: absolute;
    top: 18%;
    left: 17%;
    padding-left: 4%;
    font-weight: normal;
}

.song_in_queue p.play{
    position: absolute;
    display: block;
    left: 27.5px;
    top: -22px;
    font-size: 30px;
    color: #f7d4d4;
    opacity: 0.9;
}

.song_in_queue p.pause{
    position: absolute;
    display: none;
    left: 25px;
    top: -3px;
    font-size: 18px;
    color: #f7d4d4;
    opacity: 0.9;
}

.song_in_queue:hover{
    cursor: pointer;
}

.song_in_queue:hover .playlist_img{
    width: 60px;
    height: 60px;
} 
.song_in_queue:hover p.play{
    font-size: 36px;
    top: -26px;
    left: 33px
}

.song_in_queue:hover p.pause{
    font-size: 21.65px;
    top: -5px;
    left: 30px
}

.song_in_queue:hover p.song_name{
    padding-left: 83px;
}

div.controller{
    position: fixed;
    min-width: 99.2%;
    height: 13%;
    background-color:  rgba(206, 246, 152,0.79) ;
    bottom: 1%;
    border-radius: 5px;
}

.feed{
    position: fixed;
    height: 70.5%;
    width: 75.2%;
    bottom: 15.2%;
    left: 24.5%;
    border-radius: 5px;
    background-color: rgba(205, 190, 255, 0.8);
}

.feed p.title{
    font-size: 1vw;
    padding-left: 2%;
    padding-top: 1%;
}


.feed_song_container{
    position: absolute;
    display: inline-flex;
    width: 70%;
    height: 10%;
    top: 20%;
    left: 26%;
    /* background-color: aqua; */
}

.feed_song{
    position: relative;
    padding-right: 3%;
    width: 5%;
    height: 90%;
    /* background-color: rgb(0, 0, 0); */
    top: 10px;
    left: 10px;
}

.feed_song:hover{
    cursor: pointer;
}

.feed_song:hover .feed_song_image{
    width: 115%;
}

.feed_song:hover .feed_play{
    top: -22.5%;
    left: 22%;
    font-size: 2vw;
    
}

.feed_song:hover .feed_pause{
    top: 6%;
    left: 26%;
    font-size: 1.1vw;
    
}

.feed_song_image{
    width: 100%;
}

.feed_play{
    position: absolute;
    display: block;
    left: 20.5%;
    top: -13%;
    font-size: 1.5vw;
    color: #f7d4d4;
    opacity: 0.9;
}

.feed_pause{
    position: absolute;
    display: none;
    left: 25%;
    top: 10%;
    font-size: 0.8vw;
    color: #f7d4d4;
    opacity: 0.9;
}

.feed_song_name{
    font-size: 0.63vw;
    font-family: sans-serif;
    margin-top: 0;
    text-align: center;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}
