@import url("common.css");

body{
    background-color: black;
}

.app{
    width: 95%;
    height: 95%;
    border-color: #850000;
    border-width: 2px;
    
}

.logo_and_banner{
    width: 100%;
    height: 100px;

}

.logo{
    position: absolute;
    height: 80px;
    width: 80px;
    padding: 10px;
    margin: 10px;
    /* background-color: #535353; */
    border-radius: 9px;
}
.logo a{
    width: 100%;
    margin-right: 2%;
}

#logo{
    width: 100%;
}

div.banner{
    position: absoulte;
    top: 1px;
    height: 100%;
    width: 100%;
    background-color: #f7d4d4;
}

/* #banner{
    top: 20px;
    width: 100%;
    height: 100%;
} */
div.playlist{
    position: fixed;
    min-width: 275px;
    height: 62.5%;
    width: 18%;
    padding: 2%;
    margin: 30px 0px 0px 20px;
    border-radius: 7px;
    background-color: rgba(50,188,200,0.8);
}

div.playlist p{
    font-family: 'Courier New';
    font-weight: bolder;
}

img.playlist_img{
    position: relative;
    padding-left: 10px ;
    width: 50px;
    height: 50px;
    
}

.song_in_queue{
    position: relative;
    /* display: inline-flex; */
    display: none;
    padding-bottom: 20px;
}

.song_in_queue p.song_name{
    font-family: sans-serif;
    position: fixed;
    padding-left: 70px;
    font-weight: normal;
}

.song_in_queue p.play{
    position: absolute;
    display: block;
    left: 27.5px;
    top: -22px;
    font-size: 30px;
    color: #f7d4d4;
    opacity: 0.9;
}

.song_in_queue p.pause{
    position: absolute;
    display: none;
    left: 25px;
    top: -3px;
    font-size: 18px;
    color: #f7d4d4;
    opacity: 0.9;
}

.song_in_queue:hover{
    cursor: pointer;
}

.song_in_queue:hover .playlist_img{
    width: 60px;
    height: 60px;
} 
.song_in_queue:hover p.play{
    font-size: 36px;
    top: -26px;
    left: 33px
}

.song_in_queue:hover p.pause{
    font-size: 21.65px;
    top: -5px;
    left: 30px
}

.song_in_queue:hover p.song_name{
    padding-left: 83px;
}

div.controller{
    position: fixed;
    min-width: 99.2%;
    height: 125px;
    background-color:  rgba(206, 246, 152,0.79) ;
    bottom: 1%;
    border-radius: 5px;
}

.feed{
    position: fixed;
    height: 680px;
    width: 1459px;
    bottom: 147px;
    left: 460px;
    border-radius: 10px;
    background-color: rgba(205, 190, 255, 0.8);
}

.feed p.title{
    padding-left: 2%;
    padding-top: 1%;
}


.feed_song_container{
    position: absolute;
    display: inline-flex;
    width: 320%;
    height: 100px;
    top: 65px;
    left: 500px;
    /* background-color: aqua; */
}

.feed_song{
    position: relative;
    padding-right: 3%;
    width: 62px;
    height: 62px;
    /* background-color: aqua; */
    top: 10px;
    left: 10px;
}

.feed_song:hover{
    cursor: pointer;
}

.feed_song:hover .feed_song_image{
    width: 115%;
}

.feed_song:hover .feed_play{
    top: -22%;
    left: 30%;
    font-size: 32px;
    
}

.feed_song:hover .feed_pause{
    top: 2%;
    left: 27%;
    font-size: 20px;
    
}

.feed_song_image{
    width: 100%;
}

.feed_play{
    position: absolute;
    display: block;
    left: 25%;
    top: -15.5%;
    font-size: 25px;
    color: #f7d4d4;
    opacity: 0.9;
}

.feed_pause{
    position: absolute;
    display: none;
    left: 25%;
    top: 10%;
    font-size: 15px;
    color: #f7d4d4;
    opacity: 0.9;
}

.feed_song_name{
    font-size: 12px;
    font-family: sans-serif;
    margin-top: 0;
    text-align: center;
    overflow: hidden;
    white-space: pre;
    text-overflow: ellipsis;
}
